<div class="row-fluid">
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> <a href="index.html">个人空间</a> <i
			class="icon-angle-right"></i></li>
		<li><a href="#">发表文章</a></li>
	</ul>
	<!-- BEGIN FORM-->
	<form ng-submit="addBlog()" name="blogForm">
		<div class="control-group ">
			<label class="control-label">标题</label>
			<div class="controls">
				<input type="text" class="span12 m-wrap" required name="title" ng-model="blog.title" placeholder="文章标题">
			</div>
		</div>

		<div class="control-group ">
			<label class="control-label">摘要</label>
			<div class="controls">
				<textarea type="text" class="span12 m-wrap" ng-model="blog.snippet" placeholder="文章摘要, 言简意赅"></textarea>
			</div>
		</div>

		<div class="control-group ">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea id="content" name="content" init-kind-editor class="span12" style="height:350px;"></textarea>
			</div>
		</div>
		<div class="control-group ">
			<label class="control-label">标签</label>
			<div class="controls">
				<input type="text" class="span12 m-wrap" required name="tags" ng-model="blog.tags" placeholder="标签">
			</div>
		</div>
		<div class="control-group ">
			<label class="control-label">分类</label>
			<div class="controls">
				<select></select>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn blue">发表</button>
		</div>
	</form>
	<!-- END FORM-->
</div>