<style>
.tab-content .user-pic{
	width:55px;
	height: 55px;
}
</style>
<div class="state">
	<div class="content" id="state" contentEditable=true></div>
	<div class="tools">
		<ul class="opts pull-left">
			<li class="emotion"><a href="javascript:;" id="emotions">表情</a></li>
			<li class="img"><a href="javascript:insert_images()">图片</a></li>
		</ul>
		<button type="button" class="pull-right btn green" ng-click="addMessage(1)">发表</button>
		<div class="clear"></div>
	</div>
</div>

<div class="tabbable tabbable-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab_state" ng-click="loadMessage(1);">我的动态</a></li>
		<li class=""><a data-toggle="tab" href="#tab_user" ng-click="loadMessage(2);">用户留言</a></li>
		<li class=""><a data-toggle="tab" href="#tab_system" ng-click="loadMessage(3);">系统留言</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab_state" class="tab-pane active">
			<div class=" portfolio-text" ng-repeat="message in messages.list">
				<img ng-src="{{user.pic_url}}" alt="" class="user-pic">
				<div class="portfolio-text-info">
					<div class="msg">
						<a ui-sref="space({user_id:user.id})" ng-bind="message.sender_name"></a>：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left"> {{message.create_time | diffDate}} </span> <span class="pull-right">
							<a href="javascript:sendmsg(1177133,0)">回复</a> | <a
							href="http://my.oschina.net/u/1579252/admin/msgs?user=1177133">共有1条留言</a>
							| <a href="javascript:deleteMsgs(1579252,1177133,'微浪科技')">删除</a>
						</span>
					</div>
				</div>
			</div>
			
			<media-pagination page="messages"></media-pagination>
		</div>
		
		<div id="tab_user" class="tab-pane">
			<div class=" portfolio-text" ng-repeat="message in messages.list">
				<img ng-src="{{message.sender_pic_url}}" alt="" class="user-pic">
				<div class="portfolio-text-info">
					<div class="msg">
						<a ui-sref="space({user_id:message.receiver_id})" target="_blank" ng-if="user.id == message.sender_id" >@ {{message.receiver_name}}</a>
						<a ui-sref="space({user_id:message.sender_id})" target="_blank" ng-if="user.id == message.receiver_id" ng-bind="message.sender_name"></a>
						：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left"> {{message.create_time | diffDate}} </span> <span class="pull-right">
							<a href="javascript:sendmsg(1177133,0)">回复</a> | <a
							href="http://my.oschina.net/u/1579252/admin/msgs?user=1177133">共有1条留言</a>
							| <a href="javascript:deleteMsgs(1579252,1177133,'微浪科技')">删除</a>
						</span>
					</div>
				</div>
			</div>
			
			<media-pagination page="messages"></media-pagination>
		</div>
		
		<div id="tab_system" class="tab-pane">
			<div class=" portfolio-text" ng-repeat="message in messages.list">
				<img src="res/media/image/avatar3.jpg" alt="">
				<div class="portfolio-text-info">
					<div class="msg">
						<a href="http://my.oschina.net/u/1177133" ng-bind="{{user.user_name}}"></a>：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left"> {{message.create_time | diffDate}} </span> <span class="pull-right">
							<a href="javascript:sendmsg(1177133,0)">回复</a> | <a
							href="http://my.oschina.net/u/1579252/admin/msgs?user=1177133">共有1条留言</a>
							| <a href="javascript:deleteMsgs(1579252,1177133,'微浪科技')">删除</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>