<style>
.tab-content .user-pic {
	width: 55px;
	height: 55px;
}

/* The triangle */
.comment{
	position:relative;
	border:1px solid #ccc;
	margin-top:5px;
	overflow:visible;
	display:none;
}
.comment:before {
	position: absolute;
	top: -7px;
	right: 39px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0,0,0,0.2);
	content: '';
}
.comment:after{
	position: absolute;
	top: -5px;
	right: 41px;
	display: inline-block;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	border-left: 5px solid transparent;
	content: '';
}
.comment .comment-editable {
	padding: 10px;
}
.comment-editable .editable{
	padding: 7px 8px;
	font-size: 13px;
	line-height: 22px;
	min-height: 22px;
	white-space: pre-wrap;
	color: #222;
	cursor: text;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	background-color: #fff;
	
	outline:0;
	-moz-outline: 0;
}
.comment .comment-list{
	padding:10px;
	border-top:1px dashed #D5D5D5;
}
.comment .comment-list .comment-opts{
	padding-top:5px;
}
.comment .comment-list .user-pic{
	width:22px;
	height:22px;
}
.alert{
	text-align:center;
}
</style>
<div class="state">
	<div id="state" contentEditable=true style="outline:0;"></div>
	<div class="tools">
		<ul class="opts pull-left">
			<li class="emotion"><a href="javascript:;" id="emotions">表情</a></li>
			<li class="img"><a href="javascript:insert_images()">图片</a></li>
		</ul>
		<button type="button" class="pull-right btn green" ng-click="addMessage(1)" style="margin-right:5px;">发表</button>
		<div class="clear"></div>
	</div>
</div>

<div class="state tabbable tabbable-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab_state" ng-click="loadMessage(1);">我的动态</a></li>
		<li class=""><a data-toggle="tab" href="#tab_user" ng-click="loadMessage(2);">用户留言</a></li>
		<li class=""><a data-toggle="tab" href="#tab_system" ng-click="loadMessage(3);">系统留言</a></li>
	</ul>
	<div class="tab-content">
		<!-- 我的动态 -->
		<div id="tab_state" class="tab-pane active">
			<div class=" portfolio-text" ng-repeat="message in state_messages.list">
				<img ng-src="{{user.pic_url}}" alt="" class="user-pic">
				<div class="portfolio-text-info">
					<div class="msg">
						<a ui-sref="space({user_id:user.id})" ng-bind="message.sender_name"></a>：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left time"> {{message.create_time | diffDate}} </span> 
						<span class="pull-right">
							<a href="javascript:;" ng-click="toggleComment(message);" >评论</a> | 
							<a href="javascript:;" ng-click="deleteMessage(message);">删除</a>
						</span>
					</div>
					<div class="clear"></div>
					<div id="collapse_{{message.id}}" class="comment">
						
						<div class="comment-editable">
							<div class="editable" aria-label="写下你的评论…"  contenteditable="true" id="comment_{{message.id}}"></div>
							<div style="margin:2px 5px 0px 0px">
								<button class="btn green mini pull-right" ng-click="addComment(message)">提交</button>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="comment-list" ng-repeat="comment in message.comments">
							<img ng-src="{{comment.sender_pic_path}}" alt="" class="user-pic pull-left">
							<div style="overflow:hidden;">
								<div class="comment-content">
									<a ui-sref="space({user_id:comment.id})" target="_blank" ng-bind="comment.sender_name"></a><br>
									<span ng-bind="comment.content"></span>
								</div>
								<div class="comment-opts">
									<span class="pull-left time">
										{{comment.create_time | diffDate}}
									</span>
									<span class="pull-right">
										<a href="/action/tweet/go?obj=849871&amp;type=17&amp;user=248834" target="_blank">赞</a>
									</span>
								</div>
							</div>
							
						</div>
					</div>
				    
				</div>
				
			</div>
			
			<media-pagination page="state_messages"></media-pagination>
			
			<div class="alert" ng-if="user_messages.list.length <= 0">
				<span>当前没有空间动态</span>
			</div>
		</div>
		<!-- 用户留言 -->
		<div id="tab_user" class="tab-pane">
			<div class=" portfolio-text" ng-repeat="message in user_messages.list">
				<img ng-src="{{message.sender_pic_url}}" alt="" class="user-pic">
				<div class="portfolio-text-info">
					<div class="msg">
						<a ui-sref="space({user_id:message.receiver_id})" target="_blank" ng-if="user.id == message.sender_id" >@ {{message.receiver_name}}</a>
						<a ui-sref="space({user_id:message.sender_id})" target="_blank" ng-if="user.id == message.receiver_id" ng-bind="message.sender_name"></a>
						：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left time"> {{message.create_time | diffDate}} </span> 
						<span class="pull-right">
							<a href="javascript:;" ng-click="toggleComment(message);">回复</a> | 
							<a href="javascript:;" ng-click="deleteMessage(message);">删除</a>
						</span>
					</div>
					
					<div class="clear"></div>
					<div id="collapse_{{message.id}}" class="comment">
						
						<div class="comment-editable">
							<div class="editable" aria-label="写下你的评论…"  contenteditable="true" id="comment_{{message.id}}"></div>
							<div style="margin:2px 5px 0px 0px">
								<button class="btn green mini pull-right" ng-click="addComment(message)">提交</button>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="comment-list" ng-repeat="comment in message.comments">
							<img ng-src="{{comment.sender_pic_path}}" alt="" class="user-pic pull-left">
							<div style="overflow:hidden;">
								<div class="comment-content">
									<a ui-sref="space({user_id:comment.id})" target="_blank" ng-bind="comment.sender_name"></a><br>
									<span ng-bind="comment.content"></span>
								</div>
								<div class="comment-opts">
									<span class="pull-left time">
										{{comment.create_time | diffDate}}
									</span>
									<span class="pull-right">
										<a href="/action/tweet/go?obj=849871&amp;type=17&amp;user=248834" target="_blank">赞</a>
									</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<media-pagination page="user_messages"></media-pagination>
			
			<div class="alert" ng-if="user_messages.list.length <= 0">
				<span>当前没有用户留言</span>
			</div>
		</div>
		<!-- 系统留言 -->
		<div id="tab_system" class="tab-pane">
			<div class=" portfolio-text" ng-repeat="message in system_messages.list">
				<img ng-src="{{message.sender_pic_url}}" alt="" class="user-pic">
				<div class="portfolio-text-info">
					<div class="msg">
						<a href="http://my.oschina.net/u/1177133" ng-bind="{{user.user_name}}"></a>：{{message.content}}
					</div>

					<div class="bottom">
						<span class="pull-left"> {{message.create_time | diffDate}} </span> <span class="pull-right">
							<a href="javascript:sendmsg(1177133,0)">回复</a> | <a
							href="http://my.oschina.net/u/1579252/admin/msgs?user=1177133">共有1条留言</a>
							| <a href="javascript:deleteMsgs(1579252,1177133,'微浪科技')">删除</a>
						</span>
					</div>
				</div>
			</div>
			
			<media-pagination page="system_messages"></media-pagination>
			<div class="alert" ng-if="system_messages.list.length <= 0">
				<span>当前没有系统留言</span>
			</div>
		</div>
	</div>
</div>