<style>
/***
space table(Alternative 2)
***/
.space {
	position: relative;
	margin-bottom: 15px;
	border: 3px solid #eee;
}

.space-active {
	border: 3px solid #35aa47;
}

.space:hover {
	border: 3px solid #35aa47;
}

.space:hover h4 {
	color: #35aa47;
}

.space-head {
	text-align: center;
}

.space-head h3,.space-head h4 {
	margin: 0;
	line-height: normal;
}

.space-head h3 span,.space-head h4 span {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	font-style: italic;
}

.space-head h3 {
	color: #fafafa;
	padding: 12px 0;
	font-size: 14px;
	background: #35aa47;
	border-bottom: solid 1px #41b91c;
}

.space-head h3 .head-pic {
	width: 80px;
	height: 80px;
	background: #fff;
	padding: 3px;
	margin: 5px;
}

.space-head h3 li img {
	
}

.space-head h4 {
	color: #bac39f;
	padding: 5px 0;
	font-size: 12px;
	font-weight: 300;
	background: #fbfef2;
	border-bottom: solid 1px #f5f9e7;
}

.space-head-active h4 {
	color: #35aa47;
}

.space-head h4 i {
	top: -8px;
	font-size: 28px;
	font-style: normal;
	position: relative;
}

.space-head h4 span {
	top: -10px;
	font-size: 14px;
	font-style: normal;
	position: relative;
}

/*space Content*/
.space-content li {
	color: #888;
	padding: 7px 15px;
	border-bottom: solid 1px #f5f9e7;
}

.space-content li i {
	top: 2px;
	color: #35aa47;
	font-size: 14px;
	margin-right: 5px;
	position: relative;
}

.space-content li a {
	top: 2px;
	color: #888;
	font-size: 14px;
	margin-right: 5px;
	position: relative;
	text-decoration: none;
}

.space-content li a:hover {
	color: #1D943B;
}
/*tabbable */
.tabbable .tab-content .tab-pane p {
	color: #888;
}
/*space Footer*/
.space-footer {
	color: #777;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
	padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,.space:hover {
	z-index: 9;
}

.price-active h4 {
	color: #35aa47;
}
/** state **/
.state {
	padding: 2px;
	margin-left: 0px;
	width: 100%;
}

.state #state {
	padding: 7px 8px;
	font-size: 13px;
	line-height: 22px;
	min-height: 22px;
	white-space: pre-wrap;
	color: #222;
	cursor: text;
	border: 2px solid #35aa47;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset;
	background-color: #fff;
	outline: 0;
	-moz-outline: 0;
}

.state .tools li {
	display: inline;
	margin-right: 5px;
}

.state .tools .opts {
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 0px;
}

.state .tools .opts li a:hover {
	border: 1px solid #5CC26F;
}

.state .tools .opts li #emotions {
	font-size: 14px;
	color: #666;
	height: 28px;
	padding: 4px 2px 4px 25px;
	background: url('res/plugins/kindeditor/plugins/emoticons/images/0.gif')
		no-repeat;
}

.bar {
	height: 18px;
	background: green;
}

/** action **/
.portfolio-text {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #D5D5D5;
}

.portfolio-text .msg {
	margin-bottom: 5px;
}

.portfolio-text span.time{
	color: #888;
}
</style>
<div class="row-fluid margin-bottom-40">

	<div class="span3 space space-active hover-effect">

		<div class="space-head space-head-active">

			<h3 class="profile-head">
				<img class="pull-left head-pic" ng-src="{{user.pic_url}}" style="width:80px;height:80px;"
									 alt="{{user.user_name}}" title="{{user.user_name}}"/>
				<ul class="pull-left unstyled">
					<li>{{user.user_name}}</li>
					<li ng-if="user.gender == 1"><img src='/res/media/image/comm/men.png'></li>
					<li ng-if="user.gender == 0"><img src='/res/media/image/comm/women.png'></li>
				</ul>
				<div class="clear"></div>
			</h3>

			<h4>
				<div>
					<a href="#">关注(0)</a>
					<a href="#">粉丝(0)</a>
					<a href="#">积分(0)</a>
				</div>
			</h4>

		</div>
		
		<ul class="space-content unstyled" ng-if="self">
			<li><i class="icon-tags"></i><a ui-sref=".profile"> 修改个人资料</a></li>
			<li><i class="icon-heart"></i><a ui-sref=".message_list"> 空间留言板</a></li>
			<li><i class="icon-heart"></i><a ui-sref=".message_list"> 我的博客</a></li>
		</ul>
		<ul class="space-content unstyled" ng-if="!self">
			<li><i class="icon-heart"></i><a ui-sref=".message_list"> 全部博客</a></li>
		</ul>
		
		<div class="tabbable tabbable-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab_1_1">访客统计</a></li>
				<li class=""><a data-toggle="tab" href="#tab_1_2">备用区域</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab_1_1" class="tab-pane active">
					<p>今日访问:0</p>
					<p>昨日访问:0</p>
					<p>本周访问:0</p>
					<p>本月访问:0</p>
					<p>所有访问:0</p>
				</div>
				<div id="tab_1_2" class="tab-pane">
					<p>Howdy, I'm in Section 2.</p>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
					</p>
				</div>
			</div>
		</div>
		
		<div class="space-footer" ng-if="self">

			<p>你想写点啥...</p>

			<a ui-sref=".blog" class="btn green" > 发表文章 <i
				class="m-icon-swapright m-icon-white"></i>
			</a>
			
		</div>
		
		<div class="space-footer" ng-if="!self">

			<a href="#message_modal" data-toggle="modal" class="btn green"> 
				<span ng-if="user.gender == 1">给他留言</span>
				<span ng-if="user.gender == 0">给她留言</span> 
				<i class="m-icon-swapright m-icon-white"></i>
			</a>

		</div>
	</div>
	
	<div class="span9 page-content" >
		<ui-view></ui-view>
	</div>
	
	<div class="span2"></div>
</div>
	<!--留言-->
<div id="message_modal" class="modal hide fade" tabindex="-1" style="width:400px;margin-left:-200px;">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<strong>留言</strong>
	</div>

	<div class="modal-body">

		<div class="row-fluid">
			<div class="alert alert-error" ng-show="comment_content_error" >
				请输入评论内容
			</div>
			<div class="controls">
				<textarea class="m-wrap" rows="4"  style="width:355px!important;" ng-model="message.content"></textarea>
			</div>
		</div>

	</div>

	<div class="modal-footer" style="padding:10px 15px;">
		<button type="button" data-dismiss="modal" class="btn">关闭</button>
		<button type="button" class="btn green" ng-click="addMessage(2);">提 交</button>
	</div>
</div>
<script>
	require([ 'emotion' ], function(emotions) {
		var path = "res/plugins/kindeditor/plugins/emoticons/images/"; // 表情包路径
		$("#emotions").emotion({
			destId : "state",
			allowPreview : false,
			path : path
		});
		
	});
</script>