<div class="row-fluid">
	<div class="portlet box green">
		<div class="portlet-title">
			<div class="caption"> <i class="icon-reorder"></i>
				会员注册
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>

		<div class="portlet-body">
			<form ng-submit="register()" class="form-horizontal" name="registerForm"
				novalidate >
				
				<div class="control-group">
					<label class="control-label"> 邮箱: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="email" class="span6 m-wrap" required name="email" ensure-unique="email:user/getByEmail" ng-model="user.email">
						<span class="error help-inline" ng-show="registerForm.email.$error.required">请输入邮箱地址</span>
						<span class="error help-inline" ng-show="registerForm.email.$error.email">邮箱地址无效！</span>
						<span class="error help-inline" ng-show="email_unique">邮箱已存在！</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"> 昵称: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" name="user_name" ensure-unique="user_name:user/getByUserName" required ng-minlength=5 ng-model="user.user_name"> 
						<span class="error help-inline" ng-show="registerForm.user_name.$error.required">请输入用户名称</span>
						<span class="error help-inline" ng-show="registerForm.user_name.$error.minlength">不少于5位字符</span>
						<span class="error help-inline" ng-show="user_name_unique">昵称已存在！</span>
					</div>

				</div>

				<div class="control-group">

					<label class="control-label"> 登陆密码: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="password" class="span6 m-wrap" name="password" required ng-minlength=6 ng-model="user.password"> 
						<span class="error help-inline" ng-show="registerForm.password.$error.required">请输入密码</span>
						<span class="error help-inline" ng-show="registerForm.password.$error.minlength">不少于6位字符</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label"> 密码确认: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="password" class="span6 m-wrap" name="rpassword" required>
						<span class="error help-inline" ng-show="registerForm.password.$error.required">重复输入密码</span>
						
					</div>
				</div>
				<div class="form-actions">
					<button type="submit"  ng-disabled="registerForm.$invalid" class="btn purple">立即注册</button>
				</div>
			</form>
		</div>
	</div>

</div>