<div class="row-fluid">
	<div class="portlet box blue">

		<div class="portlet-title">
			<div class="caption">
				<i class="icon-reorder"></i>信息
			</div>
			<div class="actions">

				<div class="btn-group">
					<a class="btn blue" href="#" data-toggle="dropdown"> <i
						class="icon-hand-right"></i> 分类 <i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-right">

						<li ng-repeat="category in categorys"><a href="javascript:;" ng-click="changeCate();"> {{category.name}}</a></li>

					</ul>
				</div>
			</div>
			
		</div>

		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form ng-submit="save()" class="form-horizontal">
				<div class="control-group ">
					<label class="control-label">标题</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" ng-model="topic.title">
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">分类</label>
					<div class="controls">
						<ul class="question" id="type">
							<li  ng-repeat="subCate in category.subCates" >
								<a href="javascript:;"  type="{{subCate.id}}" title="问技术相关的问题" class="qa_type" >{{subCate.name}}</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">标签</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" ng-model="topic.tags">
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">内容</label>
					<div class="controls">
						<textarea id="content" name="content" init-kind-editor info="topic.content" class="span6" style="height:200px;"></textarea>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn blue">发表</button>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
</div>