<link rel="stylesheet" type="text/css" href="res/media/css/topic.css">
<link rel="stylesheet" type="text/css" href="res/plugins/code-prettify/prettify.css">
<div class="row-fluid ">
	<!-- BEGIN TAB PORTLET-->
	<div class="portlet box blue tabbable">

		<div class="portlet-title">
			<div class="caption">
				<i class="icon-reorder"></i> Portlet Tabs
			</div>
		</div>

		<div class="portlet-body" style="padding:10px 20px 20px;">
			<div class="topic ">

				<div class="question">
					<div class="title"><h3>{{topic.title}}</h3></div>
					<hr>
					<div class="main">
						<div class="detail">
							{{topic.content}}
						</div>
						<div class="asker ">
							<div class="info" title="hewep">
								<span class="ainfo"> <a
									href="http://my.oschina.net/u/1579252" class="ShowUserOutline"
									target="_blank" title="hewep"><img
										src="http://static.oschina.net/uploads/user/789/1579252_50.jpg?t=1396164811000"
										align="absmiddle" alt="hewep" title="hewep"
										user="1579252"></a>
								</span> <span class="pinfo"> <a
									href="http://my.oschina.net/u/1579252" class="Asker-Name"
									target="_blank">hewep</a><br> <span class="pub_time">发帖于&nbsp;10天前</span><br>
									<span><a href="#answers" class="answer_count">1</a>回/46阅</span>
								</span>
							</div>
							<div class="clear"></div>
						</div>

						<div class="tags_toolbars">
							<div class="Tags" id="tags_nav" style="margin: 15px 0;">
								<strong>标签：</strong> <a
									href="http://www.oschina.net/question/tag/angularjs"
									class="tag project image" data-id="16566"
									title="HTML的Web框架 AngularJS"><img
									src="http://static.oschina.net/uploads/logo/angularjs_DolgI.gif"
									style="height:18px;" class="prj_logo_18">AngularJS</a>
							</div>
						</div>
						<div class="clear"></div>
					</div>

				</div>
				<hr>
				<div class="reply alert alert-block alert-info fade in">
					<ul class="list" >
						<li class="answer" ng-repeat="reply in replies">
							<div class="row-fluid ">
								<div class="span3 user">
									<span class="user_img"><a
										href="http://my.oschina.net/arrowing" class="ShowUserOutline"
										name="AnchorAnswer761708" target="_blank"><img
											src="http://static.oschina.net/uploads/user/120/241552_50.jpg?t=1368497625000"
											align="absmiddle" alt="arrowing" title="arrowing"
											class="SmallPortrait" user="241552"></a></span> <span
										class="user_info"> <a
										href="http://my.oschina.net/arrowing" title="arrowing"
										target="_blank">arrowing</a> <span class="reply-time">10天前</span>
									</span>
									<div class="clear"></div>
								</div>
								<div class="span9 body">
									
									<div class="detail" ng-bind-html="reply.content | toHtml" prettify></div>
									<div class="replies" >
										<div class="clear"></div>
										<strong>--- 共有 2 条评论 --- </strong>
										<ul >
											<li ng-repeat="comment in reply.comments">
												<span class="comment_item">
													<a href="" class="pull-left">{{comment.src_user_name}}</a> 
													<span>&nbsp;&nbsp; {{comment.content}}</span> 
													<span> (9天前)&nbsp;&nbsp; 
														<a href="javascript:;" ng-click="showComment(reply, comment);">回复</a>
													</span>
												</span>
												<span class="comment_item" style="margin-left:20px;" ng-repeat="subComment in comment.subComments">
													<a href="">{{subComment.src_user_name}}{{subComment.id}}</a> 
													@ <a href="" target="_blank">{{subComment.dest_user_name}}</a>
														: {{subComment.content}}
													<span class="t"> (9天前)&nbsp;&nbsp; 
														<span class="opts">
															<a href="javascript:;" ng-click="showComment(reply, comment, subComment.src_user_id);">回复</a>
														</span>
													</span>
												</span>	
												<div class="clear"></div>
											</li>
										</ul>
									</div>
		
									<div class="votes">
										<span class="a_toolbar"> 
											<a href="javascript:;" ng-click="showComment(reply);" >评论(2)</a>| <a
											href="/question/answer?question=157976&amp;answer=761708">引用此答案</a>|
											<a
											href="javascript:report('http://www.oschina.net/question/1579252_157976#AnchorAnswer761708',761708,17)">举报</a>|
											<span class="tail">来自 <a
												href="http://www.oschina.net/mobile" target="_blank">Windows
													Phone</a></span>
										</span>
									</div>
									
									<div class="clear"></div>
								</div>
								
							</div>
						</li>
					</ul>
				</div>
				<hr>
				<div class="question_answer">
					<div class="pull-left">
						<textarea id="content" name="content" init-kind-editor info="topic.content"  style="height:200px;"></textarea>
					</div>
					<div class="pull-left bn">
						<span class="error_msg" ng-show="!isLogin">用户尚未登录</span>
						<span class="error_msg" ng-show="answer_content_error">请输入回复内容</span>
						<button class="btn green" ng-click="answer();"><i class="icon-pencil icon-white"></i> 我要回答</button>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- END TAB PORTLET-->
</div>

<!--评论-->
<div id="comment_modal" class="modal hide fade" tabindex="-1" style="width:400px;margin-left:-200px;">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<strong>评论{{user_name}}</strong>
	</div>

	<div class="modal-body">

		<div class="row-fluid">
			<div class="alert alert-error" ng-show="comment_content_error" >
				请输入评论内容
			</div>
			<div class="controls">
				<textarea class="m-wrap" rows="4"  style="width:355px!important;" ng-model="comment.content"></textarea>
			</div>
		</div>

	</div>

	<div class="modal-footer" style="padding:10px 15px;">
		<button type="button" data-dismiss="modal" class="btn">关闭</button>
		<button type="button" class="btn green" ng-click="addComment();">提 交</button>
	</div>
</div>
