* {
    margin:0 auto;
    padding:0;
}
body {
    /*text-align:center;*/
    color:#000;
    /*background-color:#ebebeb;*/
    padding-bottom:10px;
    font-family: 微软雅黑,Verdana,sans-serif,宋体;
}
.content {
    width:990px;
}
.right{
	float: right;
}
.left{
	float: left;
}
/* 导航 */
 ul, li {
    list-style:none;
}
ul, ol {
	padding: 0;
	margin: 0 ;
}
 #navs {
    width:100%;
    height:43px;
    background:url(../image/navbg5.png) repeat-x;
    margin-bottom:10px;
}
#navs_area {
	width:990px;
	height:43px;
}
#navs a {
    color:#fff;
    float:left;
    display:inline-block;
    height:40px;
    padding:0 20px;
    color:#fff;
    text-decoration: none;
}
#navs li {
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
#navs li:hover{
    background-color: #5BBD2B;
}


/**defined*/

.dashboard-stat .visual {
width: 40px;
height: 40px;
display: block;
float: left;
padding-top: 10px;
padding-left: 15px;
}
.dashboard-stat {
margin: 0px 10px 25px 10px;
margin-bottom: 25px;
}

.dashboard-stat .visual i {
font-size: 45px;
color: white;
}

.dashboard-stat .details .number {
padding-top: 15px;
text-align: right;
font-size: 24px;
letter-spacing: -1px;
font-weight: 300;
color: white;
margin-bottom: 10px;
}

.page-header-fixed .page-container {
margin-top: 5px;
}
.search{
	padding: 12px 14px;
	border:1px solid #EF8476;
	margin-bottom:10px;
}

.search p {
	font-size:16px;
	display: inline;
	height:20px;
	vertical-align: middle;
	font-family: 微软雅黑,Verdana,sans-serif,宋体;
	color: #666;
}

.question .qa_type{
	float: left;
	padding: 0 12px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 2px solid #AAA;
	background-color: white;
	font-size: 10.5pt;
	margin: 0 5px 0 0;
	color: #666;
	text-decoration: none;
	outline: none;
	font-weight: bold;
}
.question .qa_type:hover{
	border-color: #40AA53;
	background-color: #DFD;
}
.question a.selected{
	border: 2px solid #40AA53;
	color: #40AA53;
	background: url('../image/sel.gif') no-repeat right bottom;
}