.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea
	{
	-moz-border-radius: 0 0 0 0 !important;
	-webkit-border-radius: 0 0 0 0 !important;
	background: none !important;
	border: 0 !important;
	bottom: auto !important;
	float: none !important;
	height: auto !important;
	left: auto !important;
	line-height: 1.1em !important;
	margin: 0 !important;
	outline: 0 !important;
	overflow: visible !important;
	padding: 0 !important;
	position: static !important;
	right: auto !important;
	text-align: left !important;
	top: auto !important;
	vertical-align: baseline !important;
	width: auto !important;
	box-sizing: content-box !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New",
		Courier, monospace !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 1em !important;
	min-height: inherit !important;
	min-height: auto !important
}

.syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 1em 0 !important;
	position: relative !important;
	overflow: auto !important;
	font-size: 1em !important
}

.syntaxhighlighter.source {
	overflow: hidden !important
}

.syntaxhighlighter .bold {
	font-weight: bold !important
}

.syntaxhighlighter .italic {
	font-style: italic !important
}

.syntaxhighlighter .line {
	white-space: pre !important
}

.syntaxhighlighter table {
	width: 100% !important
}

.syntaxhighlighter table caption {
	text-align: left !important;
	padding: .5em 0 .5em 1em !important
}

.syntaxhighlighter table td.code {
	width: 100% !important
}

.syntaxhighlighter table td.code .container {
	position: relative !important
}

.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	background: #fff !important;
	padding-left: 1em !important;
	overflow: hidden !important;
	white-space: pre !important
}

.syntaxhighlighter table td.gutter .line {
	text-align: right !important;
	padding: 0 .5em 0 1em !important
}

.syntaxhighlighter table td.code .line {
	padding: 0 1em !important
}

.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line
	{
	padding-left: 0 !important
}

.syntaxhighlighter.show {
	display: block !important
}

.syntaxhighlighter.collapsed table {
	display: none !important
}

.syntaxhighlighter.collapsed .toolbar {
	padding: .1em .8em 0 .8em !important;
	font-size: 1em !important;
	position: static !important;
	width: auto !important;
	height: auto !important
}

.syntaxhighlighter.collapsed .toolbar span {
	display: inline !important;
	margin-right: 1em !important
}

.syntaxhighlighter.collapsed .toolbar span a {
	padding: 0 !important;
	display: none !important
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
	display: inline !important
}

.syntaxhighlighter .toolbar {
	position: absolute !important;
	right: 1px !important;
	top: 1px !important;
	width: 11px !important;
	height: 11px !important;
	font-size: 10px !important;
	z-index: 10 !important
}

.syntaxhighlighter .toolbar span.title {
	display: inline !important
}

.syntaxhighlighter .toolbar a {
	display: block !important;
	text-align: center !important;
	text-decoration: none !important;
	padding-top: 1px !important
}

.syntaxhighlighter .toolbar a.expandSource {
	display: none !important
}

.syntaxhighlighter.ie {
	font-size: .9em !important;
	padding: 1px 0 1px 0 !important
}

.syntaxhighlighter.ie .toolbar {
	line-height: 8px !important
}

.syntaxhighlighter.ie .toolbar a {
	padding-top: 0 !important
}

.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content
	{
	background: none !important
}

.syntaxhighlighter.printing .line .number {
	color: #bbb !important
}

.syntaxhighlighter.printing .line .content {
	color: #000 !important
}

.syntaxhighlighter.printing .toolbar {
	display: none !important
}

.syntaxhighlighter.printing a {
	text-decoration: none !important
}

.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a
	{
	color: #000 !important
}

.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a
	{
	color: #008200 !important
}

.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a
	{
	color: blue !important
}

.syntaxhighlighter.printing .keyword {
	color: #069 !important;
	font-weight: bold !important
}

.syntaxhighlighter.printing .preprocessor {
	color: gray !important
}

.syntaxhighlighter.printing .variable {
	color: #a70 !important
}

.syntaxhighlighter.printing .value {
	color: #090 !important
}

.syntaxhighlighter.printing .functions {
	color: #ff1493 !important
}

.syntaxhighlighter.printing .constants {
	color: #06c !important
}

.syntaxhighlighter.printing .script {
	font-weight: bold !important
}

.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a
	{
	color: gray !important
}

.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a
	{
	color: #ff1493 !important
}

.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a
	{
	color: red !important
}

.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a
	{
	color: #000 !important
}

.syntaxhighlighter {
	background-color: #fff !important
}

.syntaxhighlighter .line.alt1 {
	background-color: #fff !important
}

.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2
	{
	background-color: #e0e0e0 !important
}

.syntaxhighlighter .line.highlighted.number {
	color: #000 !important
}

.syntaxhighlighter table caption {
	color: #000 !important
}

.syntaxhighlighter .gutter {
	color: #afafaf !important
}

.syntaxhighlighter .gutter .line {
	border-right: 3px solid #6ce26c !important
}

.syntaxhighlighter .gutter .line.highlighted {
	background-color: #6ce26c !important;
	color: #fff !important
}

.syntaxhighlighter.printing .line .content {
	border: none !important
}

.syntaxhighlighter.collapsed {
	overflow: visible !important
}

.syntaxhighlighter.collapsed .toolbar {
	color: blue !important;
	background: #fff !important;
	border: 1px solid #6ce26c !important
}

.syntaxhighlighter.collapsed .toolbar a {
	color: blue !important
}

.syntaxhighlighter.collapsed .toolbar a:hover {
	color: red !important
}

.syntaxhighlighter .toolbar {
	color: #fff !important;
	background: #6ce26c !important;
	border: none !important
}

.syntaxhighlighter .toolbar a {
	color: #fff !important
}

.syntaxhighlighter .toolbar a:hover {
	color: #000 !important
}

.syntaxhighlighter .plain,.syntaxhighlighter .plain a {
	color: #000 !important
}

.syntaxhighlighter .comments,.syntaxhighlighter .comments a {
	color: #008200 !important
}

.syntaxhighlighter .string,.syntaxhighlighter .string a {
	color: blue !important
}

.syntaxhighlighter .keyword {
	color: #069 !important
}

.syntaxhighlighter .preprocessor {
	color: gray !important
}

.syntaxhighlighter .variable {
	color: #a70 !important
}

.syntaxhighlighter .value {
	color: #090 !important
}

.syntaxhighlighter .functions {
	color: #ff1493 !important
}

.syntaxhighlighter .constants {
	color: #06c !important
}

.syntaxhighlighter .script {
	font-weight: bold !important;
	color: #069 !important;
	background-color: none !important
}

.syntaxhighlighter .color1,.syntaxhighlighter .color1 a {
	color: gray !important
}

.syntaxhighlighter .color2,.syntaxhighlighter .color2 a {
	color: #ff1493 !important
}

.syntaxhighlighter .color3,.syntaxhighlighter .color3 a {
	color: red !important
}

.syntaxhighlighter .keyword {
	font-weight: bold !important
}

.syntaxhighlighter code {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap
}

.syntaxhighlighter .line {
	white-space: normal !important;
	line-height: 1.8em !important
}

.syntaxhighlighter code {
	line-height: 1.8em !important
}

.syntaxhighlighter .toolbar {
	display: none
}

.syntaxhighlighter.collapsed .toolbar {
	display: block;
	background: #f5f5f5 !important;
	border: 1px solid #ccc !important;
	padding: .5em .8em .5em .8em !important
}

.syntaxhighlighter table td.code {
	width: auto !important
}

.syntaxhighlighter .line.alt2 {
	background-color: #f4f4f4 !important
}

.syntaxhighlighter .gutter {
	width: 35px !important
}

.syntaxhighlighter .gutter .line {
	border-right: 2px solid #6ce26c !important
}

.syntaxhighlighter table td.gutter .line {
	padding: 0 .5em 0 .5em !important;
	text-align: right !important
}

.syntaxhighlighter .keyword {
	font-weight: normal !important;
	color: #00f !important
}

.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea
	{
	font-size: 12px !important
}

.sh-gutter .line,.sh-gutter code {
	white-space: nowrap !important
}

pre {
	margin-top: 0;
	margin-bottom: 0
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word
}

blockquote {
	background: none;
	border: 2px solid #efefef;
	color: #333;
	margin-left: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px
}

.blog-content blockquote ul {
	margin-left: 25px
}


.blog-content {
	margin-bottom: 20px
}

.blog-content ul {
	list-style-type: disc;
	margin-left: 45px;
	padding-left: 0
}

.blog-content ul li {
	list-style: inherit !important
}

.blog-content ol {
	padding-left: 50px
}

.blog-content ol li {
	list-style-type: decimal
}

.blog-content table,.cnblogs-post-body table {
	border: 1px solid silver;
	border-collapse: collapse
}

.blog-content th,.blog-content td,.cnblogs-post-body th,.cnblogs-post-body td
	{
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px
}


.blog-content p {
	margin: 10px auto;
	text-indent: 0
}

.blog-content h1 {
	font-size: 28px;
	font-weight: bold
}

.blog-content h2 {
	font-size: 21px;
	font-weight: bold
}

.blog-content h3 {
	font-size: 16px;
	font-weight: bold
}

.blog-content h4 {
	font-size: 14px;
	font-weight: bold
}

.blog-content h5 {
	font-size: 12px;
	font-weight: bold
}

.blog-content h6 {
	font-size: 11px;
	font-weight: bold
}



/**blog-list*/
.blog-title{
	padding: 5px 70px 5px 0px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #5cc26f;
	position: relative;
}
.blog-title .blog-stat{
	color: #666666;
	font-size: 12px;
	line-height: 20px;
}
.blog-title .blog-stat .admin a{
	color: #A00;
	text-decoration: none;
}
.blog-list .blog{
	margin: 0 0 15px 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	position: relative;
}
.blog-list .blog .blog-title{
	border-bottom: none;
	margin-bottom: 0px;
}
.blog-list .blog .blog-title a{
	text-decoration: none;
}
.blog-list .blog h2{
	font-size: 12pt;
	margin: 0 0 5px 0;
	line-height:20px;
}
.blog-list .blog .outline {
	color: #666666;
	font-size: 9pt;
}
.blog-list .blog h2 .icon{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	color: #FFF;
}
.blog-list .blog h2 .icon.original{
	background:#44ac57;
}

.blog-list .blog h2 .icon.recommend{
	background:#fd9c47;
}
.blog-list .blog h2 .icon.bear{
	background:#fd6245;
}
.blog-list .blog .date{
	position: absolute;
	right: 0;
	top: 5px;
	background: #aaa;
	font-size: 8pt;
	color: #fff;
	-webkit-text-size-adjust: none;
	text-align: center;
	padding: 2px 3px;
}
.blog-list .blog .date em{
	font-style: normal;
	font-family: Calibri;
	font-size: 16pt;
	display: block;
	font-weight: bold;
}

/**blog-info*/
.blog .blog-title {
	padding: 5px 70px 5px 0px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #5cc26f;
	position: relative;
}

.blog-title h2 {
	font-size: 22px;
	margin: 0 0 10px 0;
	color: #000;
	line-height:20px;
	font-weight: normal;
}
.blog-title .icon{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	color: #FFF;
}
.blog-title .blog-stat{
	font-size: 12px;
	line-height: 20px;
}
.blog-title .tvote{
	height: 55px;
	width: 50px;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 5px;
}
.blog-title .tvote .vote {
	height: 35px;
	line-height: 35px;
	font-size: 20px;
}
.blog-title .tvote .num {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}

.blog-title .tvote .num, .blog-title .tvote .vote {
	display: inline-block;
	width: 50px;
	text-align: center;
	font-style: normal;
	color: #FFF;
	background: #5cc26f;
	cursor: pointer;
}

.blog-snippet{
	padding: 10px;
	background: #f4f7f9;
	font-size: 12px;
}
.blog-snippet .corner{
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
	display: inline-block;
	line-height: 20px;
	background: #5cc26f;
	font-style: normal;
	padding: 1px 8px;
	margin-right: 10px;
}
.blog-snippet span{
	font-size: 12.5px;
	letter-spacing: 0.7px;
}
.blog-snippet a.tag{
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3E6D8E;
	font-size: 8pt;
	line-height: 2.4;
	margin: 2px 2px 2px 0;
	padding: 2px 4px;
	text-decoration: none;
	white-space: nowrap;
}
