<!-- 默认显示 -->
<div class="row-fluid" ng-repeat=" category in categorys">
	<div class="portlet box green">

		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i> {{category.name}}
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>

		<div class="portlet-body">
			<div class="row-fluid">
				<div class="span3 responsive"
					ng-repeat="subCate in category.subCates" data-tablet="span6"
					data-desktop="span3">

					<div class="dashboard-stat blue">

						<div class="visual">
							<i class="icon-heart-empty"></i>
						</div>

						<div class="details">
							<div class="number">{{subCate.topic_count}}</div>
							<div class="desc">{{subCate.name}}</div>
						</div>

						<a class="more"
							ui-sref="index.topic_list({category_id:subCate.id,category_name:subCate.name})">
							进入 <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>