<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>后台管理</title>
	<!-- Bootstrap framework -->
	<link rel="stylesheet" href="res/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="res/bootstrap/css/bootstrap-responsive.min.css" />
	<!-- theme color-->
	<link rel="stylesheet" href="res/admin/css/brown.css" id="link_theme" />
	<!-- tooltips -->
	<link rel="stylesheet" href="res/plugins/jBreadcrumbs/css/BreadCrumb.css"  />
	<!-- tooltips-->
    <link rel="stylesheet" href="res/plugins/qtip2/jquery.qtip.min.css"  />
    <!-- colorbox -->
    <link rel="stylesheet" href="res/plugins/colorbox/colorbox.css"  />
	<!-- aditional icons -->
	<link rel="stylesheet" href="res/admin/css/splashy/splashy.css">
	<!-- flags -->
    <link rel="stylesheet" href="res/admin/css/flags/flags.css"  />
    
    <link rel="stylesheet" href="res/admin/css/style.css"  />
    
    <!-- 自定义css -->
    <link rel="stylesheet" href="res/admin/css/custom.css"  />
	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico" />
	<script data-main="res/admin/main.js" src="res/require.js" ></script>
	<!--[if lte IE 8]>
	   <link rel="stylesheet" href="common/css/ie.css"  />
	<![endif]-->
	
	<!--[if lt IE 9]>
		<script src="common/js/ie/html5.js" ></script>
		<script src="common/js/ie/respond.min.js" ></script>
	<![endif]-->
	
</head>
<body>
	<div id="loading_layer" style="display:none">
		<img src="res/admin/img/ajax_loader.gif" alt="" />
	</div>
	<div class="style_switcher">
		<div class="sepH_c">
			<p>Colors:</p>
			<div class="clearfix">
				<a href="javascript:void(0)"
					class="style_item jQclr blue_theme style_active" title="blue">blue</a>
				<a href="javascript:void(0)" class="style_item jQclr dark_theme"
					title="dark">dark</a> <a href="javascript:void(0)"
					class="style_item jQclr green_theme" title="green">green</a> <a
					href="javascript:void(0)" class="style_item jQclr brown_theme"
					title="brown">brown</a> <a href="javascript:void(0)"
					class="style_item jQclr eastern_blue_theme" title="eastern_blue">eastern
					blue</a> <a href="javascript:void(0)"
					class="style_item jQclr tamarillo_theme" title="tamarillo">tamarillo</a>
			</div>
		</div>
		<div class="sepH_c">
			<p>Backgrounds:</p>
			<div class="clearfix">
				<span class="style_item jQptrn style_active ptrn_def" title=""></span>
				<span class="ssw_ptrn_a style_item jQptrn" title="ptrn_a"></span> <span
					class="ssw_ptrn_b style_item jQptrn" title="ptrn_b"></span> <span
					class="ssw_ptrn_c style_item jQptrn" title="ptrn_c"></span> <span
					class="ssw_ptrn_d style_item jQptrn" title="ptrn_d"></span> <span
					class="ssw_ptrn_e style_item jQptrn" title="ptrn_e"></span>
			</div>
		</div>
		<div class="sepH_c">
			<p>Layout:</p>
			<div class="clearfix">
				<label class="radio inline"><input type="radio"
					name="ssw_layout" id="ssw_layout_fluid" value="" checked /> Fluid</label>
				<label class="radio inline"><input type="radio"
					name="ssw_layout" id="ssw_layout_fixed" value="gebo-fixed" />
					Fixed</label>
			</div>
		</div>
		<div class="sepH_c">
			<p>Sidebar position:</p>
			<div class="clearfix">
				<label class="radio inline"><input type="radio"
					name="ssw_sidebar" id="ssw_sidebar_left" value="" checked /> Left</label>
				<label class="radio inline"><input type="radio"
					name="ssw_sidebar" id="ssw_sidebar_right" value="sidebar_right" />
					Right</label>
			</div>
		</div>
		<div class="sepH_c">
			<p>Show top menu on:</p>
			<div class="clearfix">
				<label class="radio inline"><input type="radio"
					name="ssw_menu" id="ssw_menu_click" value="" checked /> Click</label> <label
					class="radio inline"><input type="radio" name="ssw_menu"
					id="ssw_menu_hover" value="menu_hover" /> Hover</label>
			</div>
		</div>

		<div class="gh_button-group">
			<a href="#" id="showCss" class="btn btn-primary btn-mini">Show
				CSS</a> <a href="#" id="resetDefault" class="btn btn-mini">Reset</a>
		</div>
		<div class="hide">
			<ul id="ssw_styles">
				<li class="small ssw_mbColor sepH_a" style="display:none">body
					{<span class="ssw_mColor sepH_a" style="display:none">
						color: #<span></span>;
				</span> <span class="ssw_bColor" style="display:none">background-color:
						#<span></span>
				</span>}
				</li>
				<li class="small ssw_lColor sepH_a" style="display:none">a {
					color: #<span></span> }
				</li>
			</ul>
		</div>
	</div>

	<div id="maincontainer" class="clearfix">
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="dashboard.htm"><span> 后台管理系统 </span><span class="sml_t">1.0</span></a>
						<ul class="nav user_menu pull-right">
							<li class="hidden-phone hidden-tablet">
								<div class="nb_boxes clearfix">
									<a data-toggle="modal" data-backdrop="static" href="#myMail"
										class="label ttip_b" title="New messages">25 <i
										class="splashy-mail_light"></i></a> <a data-toggle="modal"
										data-backdrop="static" href="#myTasks" class="label ttip_b"
										title="New tasks">10 <i class="splashy-calendar_week"></i></a>
								</div>
							</li>
							<li class="divider-vertical hidden-phone hidden-tablet"></li>
							<li class="dropdown"><a href="#"
								class="dropdown-toggle nav_condensed" data-toggle="dropdown"><i
									class="flag-cn"></i> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="javascript:void(0)"><i class="flag-de"></i>
											Deutsch</a></li>
									<li><a href="javascript:void(0)"><i class="flag-fr"></i>
											Français</a></li>
									<li><a href="javascript:void(0)"><i class="flag-es"></i>
											Español</a></li>
									<li><a href="javascript:void(0)"><i class="flag-ru"></i>
											Pусский</a></li>
								</ul></li>
							<li class="divider-vertical hidden-phone hidden-tablet"></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"><img src="res/admin/img/user_avatar.png" alt=""
									class="user_avatar" />Johny Smith <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="user_profile.htm">My Profile</a></li>
									<li><a href="javascrip:void(0)">Another action</a></li>
									<li class="divider"></li>
									<li><a href="index.htm">Log Out</a></li>
								</ul></li>
						</ul>
						<ul class="nav" id="mobile-nav">
							<li class="dropdown"><a data-toggle="dropdown"
								class="dropdown-toggle" href="#"><i
									class="icon-list-alt icon-white"></i> Forms <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="form_elements.htm">Form elements</a></li>
									<li><a href="form_extended.htm">Extended form
											elements</a></li>
									<li><a href="form_validation.htm">Form Validation</a></li>
								</ul>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			<div class="modal hide fade" id="myMail">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">×</button>
					<h3>New messages</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-info">In this table jquery plugin
						turns a table row into a clickable link.</div>
					<table class="table table-condensed table-striped" data-rowlink="a">
						<thead>
							<tr>
								<th>Sender</th>
								<th>Subject</th>
								<th>Date</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Declan Pamphlett</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>23/05/2012</td>
								<td>25KB</td>
							</tr>
							<tr>
								<td>Erin Church</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>24/05/2012</td>
								<td>15KB</td>
							</tr>
							<tr>
								<td>Koby Auld</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>25/05/2012</td>
								<td>28KB</td>
							</tr>
							<tr>
								<td>Anthony Pound</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>25/05/2012</td>
								<td>33KB</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn">Go to mailbox</a>
				</div>
			</div>
			<div class="modal hide fade" id="myTasks">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">×</button>
					<h3>New Tasks</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-info">In this table jquery plugin
						turns a table row into a clickable link.</div>
					<table class="table table-condensed table-striped" data-rowlink="a">
						<thead>
							<tr>
								<th>id</th>
								<th>Summary</th>
								<th>Updated</th>
								<th>Priority</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>P-23</td>
								<td><a href="javascript:void(0)">Admin should not break
										if URL&hellip;</a></td>
								<td>23/05/2012</td>
								<td class="tac"><span class="label label-important">High</span></td>
								<td>Open</td>
							</tr>
							<tr>
								<td>P-18</td>
								<td><a href="javascript:void(0)">Displaying submenus in
										custom&hellip;</a></td>
								<td>22/05/2012</td>
								<td class="tac"><span class="label label-warning">Medium</span></td>
								<td>Reopen</td>
							</tr>
							<tr>
								<td>P-25</td>
								<td><a href="javascript:void(0)">Featured image on post
										types&hellip;</a></td>
								<td>22/05/2012</td>
								<td class="tac"><span class="label label-success">Low</span></td>
								<td>Updated</td>
							</tr>
							<tr>
								<td>P-10</td>
								<td><a href="javascript:void(0)">Multiple feed fixes
										and&hellip;</a></td>
								<td>17/05/2012</td>
								<td class="tac"><span class="label label-warning">Medium</span></td>
								<td>Open</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn">Go to task manager</a>
				</div>
			</div>

		</header>

		<div id="contentwrapper">
			<div class="main_content" ng-view>
			
			</div>
		</div>
		<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r"
			title="Hide Sidebar">Sidebar switch</a>
			
		<div class="sidebar">
			<div class="antiScroll">
				<div class="antiscroll-inner">
					<div class="antiscroll-content">

						<div class="sidebar_inner">
							
							<div id="side_accordion" class="accordion">

								<div class="accordion-group">
									<div class="accordion-heading">
										<a href="#collapseTwo" data-parent="#side_accordion"
											data-toggle="collapse" class="accordion-toggle"> <i
											class="icon-th"></i> 基本信息
										</a>
									</div>
									<div class="accordion-body collapse" id="collapseTwo">
										<div class="accordion-inner">
											<ul class="nav nav-list">
												<li><a href="javascript:void(0)">用户列表</a></li>
												<li><a href="javascript:void(0)">菜单列表</a></li>
												<li><a href="javascript:void(0)">角色列表</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a href="#collapseFour" data-parent="#side_accordion"
											data-toggle="collapse" class="accordion-toggle"> <i
											class="icon-cog"></i> 系统设置
										</a>
									</div>
									<div class="accordion-body collapse" id="collapseFour">
										<div class="accordion-inner">
											<ul class="nav nav-list">
												<li><a href="admin#/user_list">用户管理</a></li>
												<li><a href="javascript:void(0)">菜单管理</a></li>
												<li><a href="javascript:void(0)">角色管理</a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>

							<div class="push"></div>
						</div>

						<div class="sidebar_info">
							<ul class="unstyled">
								<li><span class="act act-warning">65</span> <strong>新增评论</strong></li>
								<li><span class="act act-success">10</span> <strong>新增话题</strong></li>
								<li><span class="act act-danger">85</span> <strong>新增会员</strong></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>
