<div class="row-fluid">
	<div class="span12">
		<div id="jCrumbs" class="breadCrumb module" >
		    <ul>
		        <li>
		            <a href="#"><i class="icon-home"></i></a>
		        </li>
		        <li>
		            <a href="#">角色 管理</a>
		        </li>
		        <li>
		            	角色列表 
		        </li>
		    </ul>
		</div>					  
		
		<div class="w-box">
			<div class="w-box-header">
				角色列表
				<div class="pull-right">
					<a class="btn btn-mini btn-primary" href="#info_modal" data-toggle="modal" ng-click="add();" >
                            <i class="icon-plus icon-white"></i> 新增
                    </a>
                    
                    <a class="btn btn-mini btn-danger" href="javascript:;" ng-click="del();" >
                            <i class="icon-remove icon-white"></i> 删除
                    </a>
				</div>
			</div>
				<table id="role_list" class="table table-striped table-bordered table-hover dTableR" >
					<thead>
						<tr>
							<th></th>
							<th class="optional">编号</th>
							<th class="essential persist">名称</th>
							<th class="essential persist">编码</th>
							<th class="essential persist">排序</th>
							<th class="optional">备注</th>
							<th></th>
						</tr>
					</thead>
				</table>
		</div>
		
	</div>
</div>

<!--编辑-->
<div id="info_modal" class="modal hide fade" tabindex="-1"
	data-width="760">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true"></button>
		<h3>角色信息</h3>
	</div>

	<div class="modal-body">
		<div class="row-fluid">
			<form class="form-horizontal" ng-submit="addOrUpdate();" novalidate="novalidate">
				<div class="control-group">
					<label class="control-label"> 角色名称: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" required
							ng-model="role.name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"> 角色编码: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" required
							ng-model="role.code" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"> 排序: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" required
							ng-model="role.sort" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"> 备注: <span class="required">*</span>
					</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" required
							ng-model="role.remark" >
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="save();">保存</button>
		<button type="button" data-dismiss="modal" class="btn">取消</button>
	</div>
</div>
<!-- 授权模块    start -->
<div id="grant_modal" class="modal hide fade" tabindex="-1"
	data-width="760">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true"></button>
		<h3>角色授权</h3>
	</div>

	<div class="modal-body">
		<div class="w-box-content" style="padding-top:10px;">
			<ul id="grandAuthority" class="ztree"></ul>	
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="executeGrant();">授权</button>
		<button type="button" data-dismiss="modal" class="btn">取消</button>
	</div>
</div>
<!-- 授权模块   end -->