<div class="row-fluid">
	<div class="portlet box blue">

		<div class="portlet-title">
			<div class="caption">
				<i class="icon-reorder"></i>信息
			</div>
		</div>

		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form ng-submit="save()" class="form-horizontal">
				<div class="control-group ">
					<label class="control-label">标题</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" ng-model="topic.title">
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">分类</label>
					<div class="controls question" id="type">
						<a href="javascript:;" type="1" title="问技术相关的问题" class="qa_type" >技术问答</a>
						<a href="javascript:;" type="2" title="分享你的技术心得" class="qa_type" >技术分享</a>
						<a href="javascript:;" type="3" title="发布个人求职和职业信息" class="qa_type" >职业生涯</a>
						<a href="javascript:;" type="4" title="网站Bug报告、站务" class="qa_type" >站务/建议</a>
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">标签</label>
					<div class="controls">
						<input type="text" class="span6 m-wrap" ng-model="topic.tags">
					</div>
				</div>

				<div class="control-group ">
					<label class="control-label">内容</label>
					<div class="controls">
						<textarea id="content" name="content" init-kind-editor info="topic.content" class="span6" style="height:200px;"></textarea>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn blue">发表</button>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
</div>